@charset "utf-8";
/* CSS Document */
h1 {font: MiaRados;
	color:rgba(70,39,25,1.00);
	font-size: 60px;
	margin-bottom: 40px;
}
h2, h3 {font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 40px;
	color: sienna;
	margin-bottom: 40px;
}
p{ color: rgba(51,27,9,1.00);
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 20px;
	line-height: 20px;
	margin-top: 80px;
	margin-bottom: 60px;
}
.nav {
    list-style: none;     
    margin: 0;
    padding: 0;
    display: flex;         
    background-color: rgba(191,141,108,1.00);
	justify-content: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 25px;
}
.nav li {
    margin: 0;
}
.nav a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.nav a:hover {
    background-color: #555;
}
.container {
    text-align: center;
	max-width: 1000px;       
    margin: 50px auto;       
    padding: 30px;           
    background-color: rgba(240,235,232,0.62); 
    border-radius: 10px;     
    box-shadow: 0 0 10px rgba(0,0,0,0.3); 
}
.pozadina{
	background-image: url("datoteke/pozadina.png");
    background-size: cover;     
	background-attachment: fixed; 
    background-position: center;  
    padding: 0;
}
